/* リセットCSS */
*{
  padding: 0;
  margin: 0;
}

.clearfix::after { 
  content: '';
  display: block; 
  clear: both;
}

/* ヘッダー */
#header{
  height: 100px;
  width: 400px;
  background-color: #141f40;
}

/* メイン */
#main{
  height: 250px;
  width: 400px;
}

#main-left{
  float: left;
  height: 250px;
  width: 150px;
  background-color: #80bfa8;
}

#main-right{
  float: left;
  height: 250px;
  width: 250px;
}

#main-right-left-upper{
  float: left;
  height: 50px;
  width: 150px;
  background-color: #dbd400;
}

#main-right-left-right{
  float: right;
  height: 150px;
  width: 100px;
  background-color: #ff9e6b;
}

#main-right-left-center{
  float: left;
  height: 100px;
  width: 150px;
  background-color: #0093b7;
}

#main-right-left-bottom{
  float: left;
  height: 100px;
  width: 250px;
  background-color: #8c2727;
}

/* フッター */
#footer{
  height: 100px;
  width: 400px;
  background-color: #d98d30;
}

@media screen and (max-width:768px){
  #header{
    width: 300px;
  }

  #main{
    width: 300px;
  }
  
  #main-left{
    width: 100px;
  }
  
  #main-right{
    width: 200px;
  }
  
  #main-right-left-upper{
    width: 125px;
  }
  
  #main-right-left-right{
    width: 75px;
  }
  
  #main-right-left-center{
    width: 125px;
  }
  
  #main-right-left-bottom{
    width: 200px;
  }

  #footer{
    width: 300px;
  }

}

@media screen and (max-width:425px){
  #header{
    width: 150px;
  }

  #main{
    width: 150px;
    height: 650px;
  }
  
  #main-left{
    float: none;
    width: 150px;
  }
  
  #main-right{
    float: none;
    width: 150px;
  }
  
  #main-right-left-upper{
    float: none;
    width: 150px;
  }
  
  #main-right-left-right{
    float: none;
    width: 150px;
  }
  
  #main-right-left-center{
    float: none;
    width: 150px;
  }
  
  #main-right-left-bottom{
    float: none;
    width: 150px;
  }

  #footer{
    width: 150px;
  }
}